{% extends 'base.html' %}

{% block title %}Entrar no Acervo{% endblock %}

{% block content %}
  <h2>Entrar no Sistema</h2>
  <p>Insira suas credenciais para gerenciar suas coleções registradas.</p>
  
  <form method="post">
    <label for="username">Nome de Usuário</label>
    <input name="username" id="username" required>
    
    <label for="password">Senha</label>
    <input type="password" name="password" id="password" required>
    
    <input type="submit" value="Fazer Login">
  </form>
{% endblock %}