{% extends 'base.html' %}
{% block title %}Minha Coleção{% endblock %}
{% block header %}
  <h1>Coleção de Objetos</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">Adicionar Objeto</a>
  {% endif %}
{% endblock %}
{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h2>📦 {{ post['nome'] }} <small>({{ post['categoria'] }})</small></h2>
          <div class="about">Dono: {{ post['username'] }} | Quantidade: <strong>{{ post['quantidade'] }}</strong></div>
        </div>
        {% if g.user['id'] == post['dono_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Editar</a>
        {% endif %}
      </header>
      <p class="body">{{ post['descricao'] }}</p>
    </article>
  {% endfor %}
{% endblock %}