{% extends 'base.html' %}
{% block title %}Editar "{{ post['nome'] }}"{% endblock %}
{% block header %}<h1>Editar "{{ post['nome'] }}"</h1>{% endblock %}
{% block content %}
  <form method="post">
    <label for="nome">Nome do Objeto</label>
    <input name="nome" id="nome" value="{{ post['nome'] }}" required>
    
    <label for="categoria">Categoria</label>
    <input name="categoria" id="categoria" value="{{ post['categoria'] }}" required>
    
    <label for="quantidade">Quantidade</label>
    <input type="number" name="quantidade" id="quantidade" value="{{ post['quantidade'] }}" min="1" required>
    
    <label for="descricao">Descrição / Detalhes</label>
    <textarea name="descricao" id="descricao">{{ post['descricao'] }}</textarea>
    
    <input type="submit" value="Atualizar">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Excluir Item" onclick="return confirm('Tem certeza que quer remover este item da coleção?');">
  </form>
{% endblock %}